.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #333;
}

/*nav*/

#mainNav {
  border-color: none;
  background-color: #f2e2c1;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: transparent;
}

button:focus {
  outline: none;
}

/*header*/

.mb-5 {
  margin: 5px;
}

@media (min-width: 993px) {
  .fis {
    display: none;
  }
  .fil {
    display: block;
  }
  section.features .text {
    margin: 50px auto;
  }
  .h-100 {
    margin-top: 150px;
    height: auto!important;
  }
  #video {
    min-height: 415px;

  }
}

@media (max-width: 992px) {
  .staff {
    width: 300px;
  }
  .img-fluid {
    display: none;
  }
  .fil {
    display: none;
  }
  .fis {
    display: block;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 5px;
  }
  section.video h2 {
    margin-top: 0;
  }
  #video {
    min-height: 315px;

  }

}

@media (max-width: 445px) {
#video {
  min-height: 215px;
}
}

/*video*/

#leaves {
  position: absolute;
  left: 0;
}

#leaves-right {
  position: absolute;
  right: 0;
  z-index: -9;
}

#video {
  width: 100%;

}

#cf {
  background-image: url(../img/tree.jpg);
  background-size: cover;
  padding: 0;
}

/*footer*/

#tree {
  position: absolute;
  left: 0;
  width: 100%;
}
